/* grays */
@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
html {
  height: 100%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  max-width: 1920px;
  margin-left: 5rem;
  margin-right: 5rem;
  color: #212529;
  border: 1px solid #eee;
  font-size: 1.6rem; }

ul {
  list-style-type: none; }

a:link,
a:visited {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.heading--1 {
  font-size: 4.8rem;
  font-weight: 700; }

.text-50 {
  max-width: 52%; }

.text-gray {
  color: #657187; }

.text--description {
  margin-top: 2rem;
  color: #657187; }

.small--description {
  font-size: 1.2rem; }

@media screen and (min-width: 920px) {
  html {
    font-size: 50%; } }

@media screen and (min-width: 1920px) {
  html {
    font-size: 62.5%; } }

.container {
  height: 100%;
  max-width: 100%;
  margin: 0; }
  .container .main-row {
    height: 100%; }

.left-col {
  padding: 50px 75px 0px 150px; }

.right-col {
  padding: 50px 83px 0 40px; }

.left-col {
  background: #F2F3F8; }

.right-col {
  background-color: rgba(255, 255, 255, 0.24); }

.grid {
  background-color: #FFFFFF;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, minmax(7rem, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  padding: 2rem 4rem; }

.grid label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C8D1E2;
  border-radius: 4px;
  width: 7rem;
  height: 7rem;
  cursor: pointer; }

.grid input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0; }

.grid .selected_element {
  background-color: #4073EB; }

.header__heading--1 {
  font-size: 4.8rem;
  font-weight: 700;
  padding-bottom: 2rem; }

.header__subheader {
  font-size: 1.6rem;
  font-weight: 300;
  max-width: 50%;
  line-height: 1.8; }

.header__heading--3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 4rem; }

.form {
  margin-top: 4.5rem; }
  .form .form-row {
    margin-bottom: 4rem; }
    .form .form-row .switch-button-group {
      display: flex;
      flex-direction: column; }
  .form input[type="text"] {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #4073EB;
    height: 4.8rem;
    font-size: 1.6rem; }
  .form input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 4px; }
  .form select.input_select {
    background-color: #FFFFFF;
    height: 5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    position: relative; }
    .form select.input_select option[value=""][disabled] {
      color: #C8D1E2;
      display: none; }
  .form textarea {
    resize: none;
    border-radius: 4px;
    height: 14rem; }
  .form .dropdown_select_icon {
    position: absolute;
    top: 5rem;
    right: 2.5rem;
    z-index: 5;
    color: #657187;
    cursor: pointer; }
  .form select::-ms-expand {
    display: none; }
  .form label {
    font-size: 1.6rem;
    font-weight: 300; }
  .form .label-heading {
    color: #657187;
    font-size: 1.6rem; }
  .form .form-control {
    height: 4rem; }
  .form .form-group .button-group {
    border-radius: 4px;
    background-color: #FFFFFF;
    height: 5rem;
    display: flex; }
    .form .form-group .button-group button {
      flex: 0 0 20%;
      height: 100%;
      font-size: 1.6rem;
      font-weight: 300;
      color: #657187; }
    .form .form-group .button-group label {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
  .form .form-group select {
    font-size: 1.6rem;
    border-radius: 4px; }
  .form .form-group .helper-text {
    margin-top: 2rem;
    max-width: 60%;
    font-weight: 300;
    color: #657187; }
  .form .form-group textarea {
    height: 14rem;
    font-size: 1.6rem; }
  .form .form-group .custom-switch {
    height: 4.8rem; }
    .form .form-group .custom-switch input {
      height: 4.8rem; }
  .form .time-group {
    display: block;
    margin-left: 2rem; }
    .form .time-group .hours-input {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .form .time-group .hours-input input {
        margin-right: 1rem;
        height: 5rem; }
  .form input#escalation:checked .time-group {
    display: block; }

.right-col {
  background-color: rgba(255, 255, 255, 0.24); }
  .right-col .row {
    margin-bottom: 6rem; }

.col-xl-2 {
  flex: 0 0 70px;
  max-width: 70px; }

.circle {
  width: 7rem;
  height: 7rem;
  border: 1px solid #4073EB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed; }
  .circle span {
    font-size: 3rem;
    font-weight: 400;
    color: #4073EB; }

.active_circle {
  background-color: #E2E9F9; }

.completed_circle {
  background-color: #4073EB; }
  .completed_circle span {
    color: #FFFFFF; }

.action_buttons {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 13rem; }
  .action_buttons button {
    font-size: 1.8rem;
    border: 1px solid #4073EB;
    padding: 1.4rem;
    margin-left: 1rem; }

.right-side {
  padding-left: 30px; }

#right_arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 4rem;
  margin-top: -15rem;
  margin-right: -12rem; }

.carousel-button {
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 12rem;
  right: 32%; }

.prev {
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  bottom: 12rem;
  right: 36%;
  z-index: 10;
  background-color: #FFFFFF;
  color: #4073EB; }
  .prev:hover {
    background-color: #FFFFFF;
    color: #4073EB;
    border: 1px solid transparent; }

.draft {
  height: 5rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px; }

.submit {
  height: 5rem;
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  background-color: #4073EB;
  border-radius: 4px; }
  .submit:disabled {
    background-color: #E2E9F9 !important; }

.switch {
  position: relative;
  display: inline-block;
  width: 9.9rem;
  height: 4.8rem; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider i.fa-times {
    opacity: 1;
    z-index: 4;
    position: absolute;
    top: 1.65rem;
    left: 1.8rem;
    color: #8287A2; }
  .slider i.fa-check {
    position: absolute;
    top: 1.5rem;
    right: 1.4rem;
    color: #FFFFFF;
    opacity: 1;
    z-index: 5; }

.slider:before {
  position: absolute;
  content: "";
  height: 3.7rem;
  width: 3.7rem;
  left: 4px;
  bottom: 6px;
  top: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21);
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #FFFFFF; }
  input:checked + .slider i.fa-times {
    opacity: 0;
    transition: .4s; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(3.8rem);
  -ms-transform: translateX(3.8rem);
  transform: translateX(5.2rem);
  background-color: #4073EB; }
  input:checked + .slider:before i.fa-check {
    opacity: 1;
    transition: .4s; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
