@mixin grid($columns, $min-width, $max-width, $col-gap, $row-gap) {
    display: grid;
    grid-template-columns: repeat($columns, minmax($min-width, $max-width));
    grid-template-rows: auto;
    grid-row-gap: $row-gap;
    grid-column-gap: $col-gap;
}