// colors

/* grays */
$gray-50: #F2F3F8;
$gray-200: #E1E7F1;
$gray-400: #8287A2;
$gray-600:  #657187;
$gray-300: #E6E6E6;
$dark-black: #1C2B46;
$black: #212529;
$white: #FFFFFF;

// primary
$primary: #4073EB;
$light-blue: #C8D1E2;
$light-background: #E2E9F9;
$light-shadow: rgba(255, 255, 255, .24);
$shadow: rgba(0, 0, 0, .21);

$wrapper-padding: 50px 75px 0px 150px;