.form {
    margin-top: 4.5rem;
    .form-row {
        margin-bottom: 4rem;
        .switch-button-group {
            display: flex;
            flex-direction: column;
        }
    }
    input[type="text"] {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid $primary;
        height: 4.8rem;
        font-size: 1.6rem;
    }
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
        appearance: textfield;
        font-size: 1.6rem;
        height: 5rem;
        border-radius: 4px;
    }
    select.input_select {
        background-color: $white;
        height: 5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        position: relative;
        option[value=""][disabled] {
            color: $light-blue;
            display: none;
        }
    }
    textarea {
        resize: none;
        border-radius: 4px;
        height: 14rem;
    }
    .dropdown_select_icon {
        position: absolute;
        top: 5rem;
        right: 2.5rem;
        z-index: 5;
        color: $gray-600;
        cursor: pointer;
    }
    select::-ms-expand {
        display: none;
    }
    label {
        font-size: 1.6rem;
        font-weight: 300;
    }
    .label-heading {
        color: $gray-600;
        font-size: 1.6rem;
    }
    .form-control {
        height: 4rem; 
    }
    .form-group {
        .button-group {
            border-radius: 4px;
            background-color: $white;
            height: 5rem;
            display: flex;
            button {
                flex: 0 0 20%;
                height: 100%;
                font-size: 1.6rem;
                font-weight: 300;
                color: $gray-600;
            }
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
        select {
            font-size: 1.6rem;
            border-radius: 4px;
        }
        .helper-text {
            margin-top: 2rem;
            max-width: 60%;
            font-weight: 300;
            color: $gray-600;
        }
        textarea {
            height: 14rem;
            font-size: 1.6rem;
        }

        .custom-switch {
            height: 4.8rem;
            input {
                height: 4.8rem;
            }
        }
    }
}

