.form {
    margin-top: 4.5rem;
    .form-row {
        margin-bottom: 4rem;
    }
    label {
        font-size: 1.6rem;
        font-weight: 300;
    }
    .form-control {
        height: 4rem; 
    }
    .form-group {
        .button-group {
            border-radius: 4px;
            background-color: $white;
            height: 4.8rem;
            display: flex;
            button {
                flex: 0 0 20%;
                height: 100%;
                font-size: 1.6rem;
                font-weight: 300;
                color: $gray-600;
            }
            label {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
        select {
            font-size: 1.6rem;
            border-radius: 4px;
        }
        .helper-text {
            margin-top: 2rem;
            max-width: 60%;
            font-weight: 300;
            color: $gray-600;
        }
        textarea {
            height: 14rem;
            font-size: 1.6rem;
        }
    }
}

