.right-col {
    background-color: rgba(255, 255, 255, .24);
    .row {
        margin-bottom: 6rem;
    }
}
.col-xl-2 {
    flex: 0 0 70px;
    max-width: 70px;
}
.circle {
    width: 7rem;
    height: 7rem;
    border: 1px solid $primary;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;

    span {
        font-size: 3rem;
        font-weight: 400;
        color: $primary;
    }
}
.active_circle {  
    background-color: $light-background;
}
.completed_circle {
    background-color: $primary;
    span {
        color: $white;
    }
}
.action_buttons {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 13rem;
    button {
        font-size: 1.8rem;
        border: 1px solid $primary;
        padding: 1.4rem;
        margin-left: 1rem;
    }
}

.right-side {
    padding-left: 30px;
}